.content {
	margin:0px auto;
	width:320;
	height:480;
	vertical-align:middle;
}
.main_title {
	font-size:xx-large;
	line-height:130%;
	text-align:center;
}

.text {
}

.title {
	font-size:large;
	line-height:180%;
	text-align:center;
}

.txt {
	text-indent:30px;
}

#score {
	text-indent:0px;
	text-align:center;
}

img {
	vertical-align:middle;
}